/node_modules
node_modules/
/public/css
/public/js
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode/*
!/.vscode/settings.json
*.log
*.sql
*.sqlite
.DS_Store
Thumbs.db

# Ignore all markdown files except README.md
*.md
!README.md

# Ignore docs folder
docs/
